/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

html {
	background-color: $background-color;
}

body {
	background-color: $accent-color;
	color: $color;
    @include body-font-regular;
    @include fontSize(18px);
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

h2, h3 {
	padding-left: $gutters;
	padding-right: $gutters;
}

h1 {
    @include headline-font;
	line-height: .8;
}

h2 {
    @include headline-font;
	letter-spacing: 2px;
}

h3 {
	color: lighten($accent-color2,5%);
	margin-bottom: $gutters/2;
}

h3 + p {
	margin-top: 0;
}

img, iframe {
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
	padding-left: $gutters;
	padding-right: $gutters;
}

main ul li {
	list-style: none;
	line-height: 1.5;
}

p + ul, {
	margin-top: -10px;
}

a {
	color: $background-color;
	text-decoration: none;
}

main p {
	padding-left: $gutters;
	padding-right: $gutters;
}

blockquote p {
	@include fontSize(16px);
	@include body-font-italic;
	margin: 0;
	padding: 0;
}

cite {
	@include fontSize(14px);
	@include body-font-bold;
	margin: 0;
	padding-left: $gutters*2;
}